.list-products {
    margin-top: 2%;
}

footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    text-align: right;
    /*background-color: #e4dcdf;*/
}

body {
    height: 100%;
}

html {
    min-height: 100%;
    position: relative;
}

.form-container {
    margin-top: 2%;
}

.btn-sign-in {
    margin-top: 10%;
}

.bg-flowerLight {
    background-color: #272228;
}

/*body{*/
/*background-color: #e4dcdf;*/
/*}*/

/*main{*/
/*background-color: #e4dcdf;*/
/*}*/

/*.jumb-background{*/
/*background-color: #e4dcdf;*/
/*}*/

.margin-register {
    margin-right: 2%;
}

.form-errors {
    color: darkred;
}

.form-heading-align {
    text-align: center;
}

.nav-item .nav-link .auth-nav-support {
    color: #fff !important;
}