.list-products {
    margin-top: 2%;
    text-align: center;
}

footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    text-align: right;
    /*background-color: #e4dcdf;*/
}

body {
    height: 100%;
}

html {
    min-height: 100%;
    position: relative;
}

.form-container {
    margin-top: 2%;
}

.btn-sign-in {
    margin-top: 1%;
}

.bg-flowerLight {
    background-color: #272228;
}

/*body{*/
/*background-color: #e4dcdf;*/
/*}*/

/*main{*/
/*background-color: #e4dcdf;*/
/*}*/

/*.jumb-background{*/
/*background-color: #e4dcdf;*/
/*}*/

.margin-register {
    margin-right: 2%;
}

.form-errors {
    color: darkred;
}

.form-heading-align {
    text-align: center;
}

.nav-item .nav-link .auth-nav-support {
    color: #fff !important;
}

.product-item {
    text-align: center;
}

.modal-win {
    height: 90%;
    width: 50%;
    background: #eeeeef;
    top: 50%;
    left: 50%;
    text-align: center;
    font-size: 14px;
    z-index: 3; /* поверх всех */
    display: none; /* сначала невидим */
    padding: 0;
    position: fixed;
    transform: translate(-50%, -50%);
    vertical-align: middle;
}

#shadow {
    position: fixed;
    width: 100%;
    height: 100%;
    z-index: 2; /* поверх всех  кроме окна*/
    background: #000;
    opacity: 0.5; /*прозрачность*/
    left: 0;
    top: 0;
}

.add-prod-color:hover{
    color: #fff!important;
}

.add-prod-color{
    color: #ffc107!important;
}

.product-info{
    text-align: center;
}

/*.add-order-color:hover{*/
    /*color: #fff!important;*/
/*}*/

.add-order-color{
    color: #fff!important;
}

.products-row-margin{
    margin-top: 3%!important;
}