<!doctype html>
<html lang="en">
<head>
    {% load static %}
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="{% static 'img/favicon.jpg' %}">

    <title>{% block title %}{% endblock %}</title>

    <!-- Bootstrap core CSS -->

    <link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet" type="text/css">

    <!-- Custom styles for this template -->
    <link href="{% static 'css/jumbotron.css' %}" rel="stylesheet" type="text/css">
    <link href="{% static 'css/signin.css' %}" rel="stylesheet" type="text/css">
    <link href="{% static 'css/carousel.css' %}" rel="stylesheet" type="text/css">
    <link href="{% static 'css/my-style.css' %}" rel="stylesheet" type="text/css">

</head>

<body>

<nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark" style="z-index: 1">
    <a class="navbar-brand" href="{% url 'index_page' %}">Flowerlight</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault"
            aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarsExampleDefault">
        <ul class="navbar-nav mr-auto">

            {% if user.is_staff %}
                <a class="btn btn-outline-warning my-2 my-sm-0 margin-register add-prod-color"
                   style="margin-left: 30%;"
                   role="button" onclick="addProductModal()">Добавить товар</a>
            {% endif %}
        </ul>

        {% if not auth %}
            <a class="btn btn-outline-info my-2 my-sm-0 margin-register" role="button" href="{% url 'register_page' %}">Зарегистрироваться</a>
            <a class="btn btn-outline-success my-2 my-sm-0" role="button" href="{% url 'login_page' %}">Войти</a>
        {% else %}
            <a class="nav-item nav-link auth-nav-support" style="color: #fff;">Вы вошли как:</a>
            <a class="btn-outline-info my-2 my-sm-0 margin-register" href="{% url 'index_page' %}">{{ user }}</a>
            <a class="btn btn-outline-success my-2 my-sm-0" href="{% url 'logout_page' %}">Выйти</a>
        {% endif %}
    </div>
</nav>

<main role="main">
    {% block body %}{% endblock %}
</main>

{% include 'product_adding.html' %}

<footer class="container">
    <p>&copy; FlowerLight 2017</p>
</footer>

<!-- Bootstrap core JavaScript
================================================== -->
<!-- Placed at the end of the document so the pages load faster -->
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
        integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
        crossorigin="anonymous"></script>
<script>window.jQuery || document.write('<script src="/js/jquery.min.js"><\/script>')</script>
<script src="{% static 'js/popper.min.js' %}"></script>
<script src="{% static 'js/bootstrap.min.js' %}"></script>
<!-- Custom js -->
<script src="{% static 'js/addProductModal.js' %}"></script>
<script src="{% static 'js/orderingModal.js' %}"></script>
<script src="{% static 'js/productsEndlessScrolling.js' %}"></script>

</body>
</html>
