{% extends 'base.html' %}

{% block title %}Flowerlight - главная{% endblock %}

{% block body %}
    <!-- Main jumbotron for a primary marketing message or call to action -->
    <div class="jumbotron jumb-background">
        <div class="container">
            <h1 class="display-3">Приносим цветы в вашу жизнь!</h1>
            <p>Для вас на выбор цветы на любой случай жизни: букеты к праздникам, живые цветы для дома, саженцы для
                вашего будущего сада.
                Наши профессиональные флористы уже составили для вас прекрасные композиции.
                Но вы также всегда можете заказать свой собственный неповторимый букет.
                Заказывая наши цветы, вы дарите праздник)</p>
            <p><a class="btn btn-primary btn-lg" href="{% url 'products_list' %}" role="button">Перейти к выбору
                &raquo;</a></p>
        </div>
    </div>
{% endblock %}