<div style="border: #5a5a5a solid; height: 80%;" id="popupWinOrdering" class="modal-win">
    <div class="container form-container">

        <form action="{% url 'adding_order_page' product.id %}" method="post" class="form-signin" enctype="multipart/form-data">
            {% csrf_token %}
            <h2 class="form-signin-heading form-heading-align">Оформление заказа</h2>

            <div class="form-errors">{{ order_form.non_field_errors }}</div>
            {#            <label for="inputEmail" class="sr-only">Email address</label>#}
            {#            <input type="email" id="inputEmail" class="form-control" placeholder="Email address" required autofocus>#}
            {#            <label for="inputPassword" class="sr-only">Password</label>#}
            {#            <input type="password" id="inputPassword" class="form-control" placeholder="Password" required>#}


            <div>
                {{ order_form.amount.errors }}
                <p>{{ order_form.amount }}</p>
            </div>
            <div>
                {{ order_form.delivery_date.errors }}
                <p>{{ order_form.delivery_date.label }}</p>
                <p>{{ order_form.delivery_date }}</p>
            </div>


            <button class="btn btn-lg btn-primary btn-block btn-sign-in" type="submit">Заказать</button>


        </form>
        <button id="close-modal-ordering" style="width: 30%; margin-left: auto"
                class="btn btn-lg btn-danger btn-block btn-sign-in">Отмена
        </button>

    </div>

</div>