<div style="border: #5a5a5a solid;" id="popupWinOrdering" class="modal-win">
    <div class="container form-container">

        <form id='order-form' method='post' class="form-signin">

            {% csrf_token %}
            <h2 class="form-signin-heading form-heading-align">Оформление заказа</h2>

            <div class="form-errors">{{ order_form.non_field_errors }}</div>

            <div>
                {{ order_form.amount.errors }}
                <p>{{ order_form.amount }}</p>
            </div>
            <div>
                {{ order_form.delivery_date.errors }}
                <p>{{ order_form.delivery_date.label }}</p>
                <p>{{ order_form.delivery_date }}</p>
            </div>


            <button onclick="addOrderByPromise(event, {{ product.id }}, '{{ user.username }}')"
                    class="btn btn-lg btn-primary btn-block btn-sign-in"
                    type="submit">Заказать
            </button>


        </form>
        <button id="close-modal-ordering" style="width: 30%; margin-left: auto; margin-bottom: 2%;"
                class="btn btn-lg btn-danger btn-block btn-sign-in">Отмена
        </button>

    </div>

</div>