{% extends 'base.html' %}
{% load static %}

{% block title %}Flowerlight - букет № {{ product.id }}{% endblock %}

{% block body %}
    <div class="container list-products">
        <!-- Example row of columns --

        <div class="container list-products">
        <!-- Example row of columns -->
        <div class="row">
            <div class="col-md-4 product-info">
                <h5 style="margin-top: 10%;">Уже заказали этот товар:</h5>
                {% for client in clients_already_ordered %}
                    <p>{{ client.login }}</p>
                {% endfor %}
            </div>

            <div style="text-align: center" class="col-md-4 product-info">
                <img class="rounded-circle"
                     src="{% static product.image.url %}"
                     alt="Generic placeholder image" width="140" height="140">
                <h2>{{ product.name }}</h2>
                <p>{{ product.description }}</p>
                <h5>Цена: {{ product.price }} руб.</h5>
                <p><a class="btn btn-secondary add-order-color"
                      style="margin-top: 10%"
                      onclick="orderingModal()" role="button">Заказать</a></p>

            </div>

            <div class="col-md-4 product-info">
                <h5 style="margin-top: 10%;">Теги товара:</h5>
                {% for tag in product.tags.all %}
                    <p>{{ tag }}</p>
                {% endfor %}
            </div>

        </div>

        <hr>

    </div> <!-- /container -->

    {% include 'ordering.html' %}

{% endblock %}