{% extends 'base.html' %}
{% load static %}

{% block title %}Flowerlight - список товаров{% endblock %}

{% block body %}

    <div id='products-container' class="container list-products infinite-container">
        <div class="row" style="margin-top: 3%">
            {% if products %}
                {% for product in products %}
                    {% include 'product_element.html' with element=product %}
                {% endfor %}
            {% else %}
                Список наших товаров почему-то пуст! Приносим свои извинения за неудобства
            {% endif %}
        </div>
    </div>


    {% if page_obj.has_next %}
        <div style="text-align: center; margin-top: 3%; color: #fff;">
            <a id="button-more-loading" class="btn btn-success" style="text-align: center"
               onmousedown="changePageNumber({{ page_obj.next_page_number }})"
               onclick="makeEndlessScrolling({{ page_obj.next_page_number }})"
            >Загрузить ещё</a>
        </div>
    {% endif %}

{% endblock %}