{% extends 'base.html' %}

{% block title %}Flowerlight - список товаров{% endblock %}

{% block body %}

    <div class="container list-products">
        <div class="row">
            {% if products %}
                {% for product in products %}
                    {% include 'product_element.html' with element=product %}
                {% endfor %}
            {% else %}
                Список наших товаров почему-то пуст! Приносим свои извинения за неудобства
            {% endif %}
        </div>
    </div>

{% endblock %}