<div style="border: #5a5a5a solid;" id="popupWin" class="modal-win">
    <div class="container form-container">

        <form action="{% url 'adding_product_page' %}" method="post" class="form-signin" enctype="multipart/form-data">
            {% csrf_token %}
            <h2 class="form-signin-heading form-heading-align">Добавление товара</h2>

            <div class="form-errors">{{ product_adding_form.non_field_errors }}</div>

            {% for field in product_adding_form %}
                <div>
                    {{ field.errors }}
                    <p>{{ field }}</p>
                </div>
            {% endfor %}

            <button class="btn btn-lg btn-primary btn-block btn-sign-in"
                    style="margin-top: auto!important;" onclick="validateDescriptionAfterSubmit(event)"
                    type="submit">Добавить
            </button>


        </form>
        <button id="close-modal-adding" style="width: 30%; margin-left: auto; margin-bottom: 2%;"
                onmousedown="removeTipAfterClosing()"
                class="btn btn-lg btn-danger btn-block btn-sign-in">Отмена
        </button>

    </div>

</div>